body {
margin-top: 0px;
margin-bottom: 0px;
margin-right: 0px;
margin-left: 0px;
border-style: solid;
border-width: 5px;
background-color: #D3DADF;
background-size: 100% 100%;

}
h1{
color: #B721E2;
text-align: center;
}
h2{
color: #B721E2;
text-align: center;
}
p{

color: #B721E2;
text-align: center;
font-family: times new roman;
font-size: 15px
}
p2{

color: #B721E2;
text-align: center;
font-family: times new roman;
font-size: 15px
}
p3{

color: #B721E2;
text-align: center;
font-family: times new roman;
font-size: 15px
}